/* Background Mobile */
@media (max-width: 576px) {
    header {
      background-image: url('../img/hero-bg-mobile.jpg');
      height: 50vh;
      background-size: cover;
    }
    .header-text{
      text-transform: uppercase;
    }
    .banner-section-bg{
      background-image: url("../img/banner.jpg");
      height: 10vh;
      background-size: cover;
    }
    .border-section-title {
      -webkit-text-decoration: underline #eee;
      text-decoration: underline #eee;
      text-transform: uppercase;
      line-height: 3;
    }
    .col-md-2{
      width: 100%;
    }
    .col-md-3{
      margin-left: 3%;
    }
    .container{
      margin-right: 5%;
      margin-left: auto;
    }
    .map-adapt{
      height: auto;
      overflow: hidden;
      max-width: 100%;
    }
  }